@font-face {
    font-family: "ArialRounded";
    src: url('../../public/fonts/ARLRDBD_0.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "ArialRounded";
    src: url('../../public/fonts/ARLRDBD_0.TTF') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
